<?xml version="1.0" encoding="utf-8" ?><rss version="2.0" xml:base="http://www.bmorebarguild.com/events" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>BBG Events</title>
    <link>http://www.bmorebarguild.com/events</link>
    <description></description>
    <language>en</language>
          </channel>
</rss>
